<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="assets/img/la-musique.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/assets/css/error.css" />
    <title>{{.Status}}</title>
  </head>
  <body>
    <div class="container">
      <div class="gradient"></div>
      <div class="content">
        <img src="../assets/img/disc.png" alt="" />
        <h2>{{.Type}}</h2>
        <h1>{{.Status}}</h1>
        <a href="/">Home.</a>
      </div>
    </div>
  </body>
</html>
